<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Translate the for loop into a while loop

In [ ]:
def print_to_number():
  i=1
  while i<10:
    print("i = ", i)
    i=i+1
 
print_to_number()

i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9

python function to sum the number of integers from 1 to a given number n.

In [ ]:
def add_integers(n):
  return sum(range(n+1))
  
add_integers(4)

Implement a python filter function in Python that will receive a list of the first 25 natural numbers and will return a filtered list of the numbers that are perfect squares, i.e. 1, 4, 9, 16, 25.

In [ ]:
import math

num_list = range(1, 26)
 
def perfect_sq(num):
  root = math.sqrt(num)
  if int(root + 0.5) ** 2 == num:
    return True

perfect_sq_in_list = filter(perfect_sq, num_list)
for num in perfect_sq_in_list:
  print(num, end=" ")

TypeError: ignored

generator function in python that will calculate perfect square numbers

In [ ]:
import math

def perfect_sq(num):
  sq_rt = math.sqrt(num)
  if ((sq_rt*sq_rt)==num):
    yield int(sq_rt)

  else:
    print("not a perfect square") 

def my_gen(num_list):
    for num in num_list:
        if is_perfect_square(num):
            yield num
        else:
            continue

In [ ]:
b = my_gen(num_list)

NameError: ignored

In [ ]:
next(b)

TypeError: ignored

Bank Account using OOPs concept

In [ ]:
class BankAccount():
  
  interest_rate = 0.05
  def __init__(self, name, number, balance):
    self.name = name
    self.number = number
    self.balance = balance
  
  def deposit(self,amount):
    self.balance+=amount
    return self.balance
  
  def withdraw(self,amount):
    self.balance-=amount
  
  def add_interest(self):
    self.interest = float(self.balance*BankAccount.interest_rate)
    self.balance+=self.interest
    return self.balance

class StudentAccount(BankAccount):
  def __init__(self, name,number,balance,limit):
    super().__init__(name,number,balance)
    self.limit=100
  
  def withdraw(self,amount):
    if self.balance-amount<self.limit:
      print("crossed over limit")
    else:
      BankAccount.withdraw(self,amount)

a=BankAccount('sushant',122,0)
a.deposit(500)
print(a.balance)
a.withdraw(500)
print(a.balance)
a.add_interest()
print(a.balance)

b=StudentAccount('ram',331,0,0)
b.deposit(1000)
print(b.balance)
b.withdraw(2000)
print(b.balance)

500
0
0.0
1000
crossed over limit
1000