<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating Function doing operation sum and sub

In [ ]:
def add_sub(x,y):
  c = x + y
  d = x - y
  return c,d

result1, result2 = add_sub(5,4)
print(result1, result2)

9 1

Variable length function for sum operation

In [ ]:
def sum(a, *b):   # declaring sum function with variable a and tuple b
  c = a
  for i in b:
    c = c + i
  print(c)

sum(5,6,37,78)

126

In [ ]:
def sum(*b):
  c = 0
  for i in b:
    c = c + i
  print(c)

sum(5,6,37,78)

126

Keyword variable length argument in Functions

In [ ]:
def person(name, **data):  # ** creates keyword variable length argument
  print(name)
  print(data)
# can print in key and value pair as well
  for i, j in data.items():
    print(i,j) 
person('Navin', age=28, city='Mumbai', mob=12345679)

Navin
{'age': 28, 'city': 'Mumbai', 'mob': 12345679}
age 28
city Mumbai
mob 12345679

Global and local variable in functions # ask prof

In [15]:
a = 10        # global variable
print(id(a))

def something():        # declaring function
    a = 9
  
    x = globals()['a']
    print(id(x))
    print("in function" ,a)      # declaring local variable since it is inside function
 
    globals()['a'] = 15
         # globals method to change value of global variable inside local variable

something()

10914784
10914784
in function 9

WAP to create a function which takes multiple inputs and return multiple outputs

In [22]:
def count(lst):       ## ask prof
    even = 0
    odd = 0
    for i in lst:
        if i % 2 == 0:
           even+=1 
        else:
           odd+=1
    return even, odd
A = int(input("Enter values to be tested"))
lst = A.split()
print("Entered values are: ", lst)

even, odd = count(lst)

print(even)
print(odd)

Enter values to be tested77 66 11

ValueError: ignored

WAP for Fibonacci Series

In [35]:
def fib(n):
    a = 0
    b = 1

    if n == 1:
      print(a)
    else:
      print(a)
      print(b)

      for i in range(2,n):
        c = a+b
        a = b
        b = c
        print(c)

fib(6)

0
1
1
2
3
5

WAP for factorial of a number

In [37]:
def fact(n):
  f = 1
  for i in range(1, n+1):
      f = f * i
  return f

x = 5

result = fact(x)
print(result)

120

WAP Factorial using recursion

In [46]:
def fact(n):
  if n == 0:
    return 1
  
  return n * fact(n-1)  # recursive function

result = fact(1)
print(result)

1

WAP using Lambda function

In [74]:
from functools import reduce
nums = [3,2,6 ,8,4,6,2,9]

evens = list(filter(lambda n : n%2==0, nums))
print(evens)

doubles = list(map(lambda n : n*2, evens))

sum = reduce(lambda a,b : a+b, doubles)
print(sum)

TypeError: ignored

In [65]:
from functools import reduce
nums = [2,5,6,8,1,4,8]
evens = list(filter(lambda n : n%2== 0,nums))
doubles = list(map(lambda n : n*2, evens))
sum = reduce(lambda a,b : a+b, doubles)
print(sum)

TypeError: ignored