<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating Function doing operation sum and sub

In [3]:
def add_sub(x,y):
  c = x + y
  d = x - y
  return c,d

result1, result2 = add_sub(5,4)
print(result1, result2)

9 1

Variable length function for sum operation

In [5]:
def sum(a, *b):   # declaring sum function with variable a and tuple b
  c = a
  for i in b:
    c = c + i
  print(c)

sum(5,6,37,78)

126

In [6]:
def sum(*b):
  c = 0
  for i in b:
    c = c + i
  print(c)

sum(5,6,37,78)

126

Keyword variable length argument in Functions

In [14]:
def person(name, **data):  # ** creates keyword variable length argument
  print(name)
  print(data)
# can print in key and value pair as well
  for i, j in data.items():
    print(i,j) 
person('Navin', age=28, city='Mumbai', mob=12345679)

Navin
{'age': 28, 'city': 'Mumbai', 'mob': 12345679}
age 28
city Mumbai
mob 12345679

Global and local variable in functions

In [33]:
a = 10        # global variable
print(id(a))
def something():        # declaring function
  a = 9       # declaring local variable since it is inside function

  x = globals()['a']
  print(id(x))
  print("in function ", a)

  globals()['a'] = 15       # globals method to change value of global variable inside local variable
  

something()

10914784
10914784
in function  9

WAP to create a function which takes multiple inputs and return multiple outputs

In [62]:

def count(lst):
    A = input("Enter values to be tested")
    lst = A.split()
    print("Entered values are: ", lst)
    even = 0
    odd = 0
    for i in lst:
        if i%2 == 0:
            even+=1 
        else:
            odd+=1
    return even, odd

even, odd = count(lst)

Enter values to be tested77 33 1
Entered values are:  ['77', '33', '1']

TypeError: ignored