<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Functions%26OOPs__Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
def func(name, age):
  print(name, age)

func('sushant', 25)

sushant 25

In [20]:
def func1(num1, num2, num3):
    print("After func1(20, 40, 60):")
    print(num1)
    print(num2)
    print(num3)

func1(20,40, 60)

After func1(20, 40, 60):
20
40
60

In [ ]:
def calculation(a, b):
    # code
    return a+b, a-b
    
res = calculation(40, 10)
print(res)

(50, 30)

In [ ]:
def calculation(a, b):
    # ','.join provides a way to comma separate
    return ','.join([str(a+b), str(a-b)])
    
res = calculation(40, 10)
print(res)

50,30

In [21]:
# showEmployee with a default parameter
def showEmployee(name, salary=9000):
    return 'Employee {} salary is {}'.format(name, salary)

print(showEmployee('Ben', 9000))

Employee Ben salary is 9000

Create an inner function to calculate in the follwing way

In [ ]:
def outerFun(a, b):
    def innerFun(c, d):
        return c + d
    return innerFun(a, b)

res = outerFun(5, 10)
print(res)

15

recursive function

In [23]:
# recursion a function that calls itself
def sum_first(n):
    if n == 1:
        return n
    return n + sum_first(n-1)

# write recursive function to sum the first 10 numbers.
#sum_first(10) = 10 + sum_first(9) = 10 + 9 + sum_first(8)

print(sum_first(10))

55

factorial using recursive function

In [24]:
# factorial recursive
def factorial(n):
    if n == 1:
        return n
    return n * factorial(n-1)
print(factorial(10))

3628800

In [ ]:
print(factorial(5))

120

In [ ]:
assigning a different name to function

In [ ]:
def displayStudent(name, age):
  showstudent = displayStudent()
  print(name, age)

print(showStudent('Emma', 26))

In [ ]:
# class is used to create an object definition
class Vehicle(object):
    
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

Generate a Python list of all the even numbers

In [33]:
list = []
for i in range(4,30):
  if i % 2 ==0:
    list.append(i)
  else:
    pass
print(list)
print(max(list))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
28

In [39]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

vehiclemodel = Vehicle(320, 12)
print(vehiclemodel.max_speed, vehiclemodel.mileage)

320 12

In [ ]:
# my ferrari can do 200 mph and has 1000 mileage on the clock
ferrari = Vehicle(200, 1000)

In [ ]:
print(ferrari.max_speed)

200

In [ ]:
print(ferrari.mileage)

1000

In [ ]:
# class Vehichle without methods and variables
class Vehicle(object):
    pass

In [40]:
class Bus(Vehicle):
    
    def __init__(self, name, max_speed, mileage):
        Vehicle.__init__(self, max_speed, mileage)
        self.name = name
        
    def __repr__(self):
        return 'Vehicle Name: ' + self.name + ' Speed: ' + str(self.max_speed) + ' Mileage:' + str(self.mileage)

In [ ]:
red_bus = Bus('London Bus', 40, 100000)

In [ ]:
print(red_bus)

Vehicle Name: London Bus Speed: 40 Mileage:100000

In [ ]:
# class is used to create an object definition
class Vehicle(object):
    
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    
    def __init__(self, name, max_speed, mileage):
        Vehicle.__init__(self, max_speed, mileage)
        self.name = name
        
    def __repr__(self):
        return 'Vehicle Name: ' + self.name + ' Speed: ' + str(self.max_speed) + ' Mileage:' + str(self.mileage) 

# my ferrari can do 200 mph and has 1000 mileage on the clock
ferrari = Vehicle(200, 1000)
print(ferrari.max_speed)

red_bus = Bus('London Bus', 40, 100000)
print(red_bus)

school_bus = Bus('School Volvo', 100, 12)
print(school_bus)

200
Vehicle Name: London Bus Speed: 40 Mileage:100000
Vehicle Name: School Volvo Speed: 100 Mileage:12

In [ ]:
print(type(red_bus))

<class '__main__.Bus'>

In [ ]:
print(type(ferrari))

<class '__main__.Vehicle'>

In [ ]:
if type(red_bus) == type(ferrari):
    print('Same vehicle type')
else:
    print('Not the same vehicle type')

Not the same vehicle type

In [ ]:
if type(red_bus) == type(school_bus):
    print('Same vehicle type')
else:
    print('Not the same vehicle type')

Not the same vehicle type

In [ ]:
type(red_bus)

__main__.Bus

In [ ]:
type(school_bus)

__main__.Bus

In [ ]:
print(type(red_bus) == type(school_bus))

False

In [ ]:
school_bus = Bus('School Volvo', 100, 12)
print(school_bus)

Vehicle Name: School Volvo Speed: 100 Mileage:12

In [ ]:
print(type(red_bus) == type(school_bus))

True