<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Lambda_Map_Reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(x,y):
  return x+y

In [2]:
print(add(1,1))

2

In [3]:
add = lambda x,y :x+y
print((add(1,1)))

2

In [6]:
def farheheit(t):
  return (float(9)/5*t + 32)

def celsius(t):
  return (float(5)/9*(t-32))
temp = (36.5, 37, 37.5, 39)

F = list (map(farheheit, temp))
print(F)

[97.7, 98.60000000000001, 99.5, 102.2]

In [7]:
C = list(map(celsius, F))
print(C)

[36.5, 37.00000000000001, 37.5, 39.0]

In [8]:
a = [1,2,3,4]
b = [17,12,11,10]
c = [-1, -4, 5, 9]

In [9]:
print(list(map(lambda x,y:x+y, a,b)))

[18, 14, 14, 14]

In [10]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
# use filter to only keep the odd numbers and remove the even numbers from the sequence
result = list(filter(lambda x: x % 2, fib))
print(result)

[1, 1, 3, 5, 13, 21, 55]

In [13]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = list(filter(lambda x: x% 2 == 0, fib))
print(result)

[0, 2, 8, 34]

In [17]:
def is_odd(x):
  return x % 2 ==1
print(is_odd(5))

True

In [16]:
def is_odd(x):
  return x % 2 ==1
print(is_odd(4))

False

In [18]:
result = list(filter(is_odd, fib))
print(result)

[1, 1, 3, 5, 13, 21, 55]

In [20]:
# importing functools for using reduce
from functools import reduce
reduce(lambda x, y: x+y, [47, 11, 42, 13])

113

In [21]:
# max functioanlity - find the max number in a list
f = lambda a,b: a if (a>b) else b
reduce(f, [47, 11, 42, 13])

47

In [23]:
# max functioanlity - find the min number in a list
f = lambda a,b: a if (a<b) else b
reduce(f, [47, 11, 42, 13])

11

In [24]:
reduce(lambda x, y: x+y, range(1, 101))

5050

In [25]:
sum(range(1, 101))

5050

In [ ]:
def farheheit(t):
  return (float(9)/5*t + 32)

def celsius(t):
  return (float(5)/9*(t-32))

In [27]:
# F = list(map(farenheit, temp))
Celsius = [39.2, 36.5, 37.3, 37.8]
# {Farenheit = farenheit(x) | x $ Celesius}
# O(n)
Farenheit = [round(farheheit(x),2) for x in Celsius]
print(Farenheit)

[102.56, 97.7, 99.14, 100.04]

In [30]:
Farenheit = []
for x in Celsius:
  Farenheit.append(round(farheheit(x),2))
print(Farenheit)

[102.56, 97.7, 99.14, 100.04]

In [31]:
# O(n^3)
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [36]:
# [(x,y,z) for x in range(1,30) 
    #for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

triplets = []
for x in range(1,30):
  for y in range(x,30):
    for z in range(y,30):
      if x**2 + y**2 == z**2:
        triplets.append((x,y,z))
print(triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

In [39]:
def get_triplets(n):
  triplets = []
  for x in range(1,30):
    for y in range(x,30):
      for z in range(y,30):
        if x**2 + y**2 == z**2:
          triplets.append((x,y,z))
  return triplets
print(get_triplets(30))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

In [ ]:
def get_triplets(n):
  triplets = []
  for x in range(1,30):
    for y in range(x,30):
      for z in range(y,30):
        if x**2 + y**2 == z**2:
          triplets.append((x,y,z))
  return triplets
print(get_triplets(30))

In [44]:

def time_me(n):
  start = datetime.now()
  print(get_triplets(n))
  finish = datetime.now()
  print(finish - start)

In [ ]:
time_me(100)

In [47]:
colours = [ "red", "green", "yellow", "blue" ]
things = [ "house", "car", "tree" ]
coloured_things = [ (x,y) for x in colours for y in things ]
print(coloured_things)

[('red', 'house'), ('red', 'car'), ('red', 'tree'), ('green', 'house'), ('green', 'car'), ('green', 'tree'), ('yellow', 'house'), ('yellow', 'car'), ('yellow', 'tree'), ('blue', 'house'), ('blue', 'car'), ('blue', 'tree')]

In [48]:
x = (x**2 for x in range(20))
print(x)
x = list(x)
print(x)

<generator object <genexpr> at 0x7fde89dec410>
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [49]:
x = [x**2 for x in range(20)]
print(x)
x = list(x)
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [54]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 100, i)]
primes = [x for x in range(2, 100) if x not in noprimes]
print(primes)
print(len(primes))
# [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [56]:
from math import sqrt
n = 100
sqrt_n = int(sqrt(n))
no_primes = [j for i in range(2, sqrt_n+1) for j in range(i*2, n, i)]
print(no_primes)
print(sorted(no_primes))
print(len(no_primes))
print(len(set(no_primes)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 20, 30, 40, 50, 60, 70, 80, 90]
[4, 6, 6, 8, 8, 9, 10, 10, 12, 12, 12, 12, 14, 14, 15, 15, 16, 16, 16, 18, 18, 18, 18, 20, 20, 20, 20, 21, 21, 22, 24, 24, 24, 24, 24, 25, 26, 27, 27, 28, 28, 28, 30, 30, 30, 30, 30, 32, 32, 32, 33, 34, 35, 35, 36, 36, 36, 36, 36, 38, 39, 40, 40, 40, 40, 40, 42, 42, 42, 42, 44, 44, 45, 45, 45, 46, 48, 48, 48, 48, 48, 49, 50, 50, 50, 51, 52, 52, 54, 54, 54, 54, 55, 56, 56, 56, 56, 57, 58, 60, 60, 60, 60, 60, 60, 62, 63, 63, 63, 64, 64, 64, 65, 66, 66, 66, 68, 68, 69, 70, 70, 70, 70, 72, 72, 72, 72, 72, 72, 74, 75, 75, 76, 76, 77, 78, 78, 78, 80, 80, 80, 80, 80, 81, 81, 82, 84, 84, 84, 84, 84, 85, 86, 87, 88, 88, 88, 90, 90, 90, 90, 90, 90, 91, 92, 92, 93, 94, 95, 96, 96, 96, 96, 96, 98, 98, 99, 99]
178
73

In [58]:
n = 100
sqrt_n = int(sqrt(n))
no_primes = {j for i in range(2, sqrt_n+1) for j in range(i*2, n, i)}
print(no_primes)
print(sorted(no_primes))
print(len(no_primes))

{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99}
[4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]
73

In [59]:

from math import sqrt
def primes(n):
    if n == 0:
        return []
    elif n == 1:
        return []
    else:
        p = primes(int(sqrt(n)))
        no_p = {j for i in p for j in range(i*2, n+1, i)}
        p = {x for x in range(2, n + 1) if x not in no_p}
    return p

for i in range(1,50):
    print(i, primes(i))

1 []
2 {2}
3 {2, 3}
4 {2, 3}
5 {2, 3, 5}
6 {2, 3, 5}
7 {2, 3, 5, 7}
8 {2, 3, 5, 7}
9 {2, 3, 5, 7}
10 {2, 3, 5, 7}
11 {2, 3, 5, 7, 11}
12 {2, 3, 5, 7, 11}
13 {2, 3, 5, 7, 11, 13}
14 {2, 3, 5, 7, 11, 13}
15 {2, 3, 5, 7, 11, 13}
16 {2, 3, 5, 7, 11, 13}
17 {2, 3, 5, 7, 11, 13, 17}
18 {2, 3, 5, 7, 11, 13, 17}
19 {2, 3, 5, 7, 11, 13, 17, 19}
20 {2, 3, 5, 7, 11, 13, 17, 19}
21 {2, 3, 5, 7, 11, 13, 17, 19}
22 {2, 3, 5, 7, 11, 13, 17, 19}
23 {2, 3, 5, 7, 11, 13, 17, 19, 23}
24 {2, 3, 5, 7, 11, 13, 17, 19, 23}
25 {2, 3, 5, 7, 11, 13, 17, 19, 23}
26 {2, 3, 5, 7, 11, 13, 17, 19, 23}
27 {2, 3, 5, 7, 11, 13, 17, 19, 23}
28 {2, 3, 5, 7, 11, 13, 17, 19, 23}
29 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29}
30 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29}
31 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
32 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
33 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
34 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
35 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
36 {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31}
37 {2, 3, 5, 37, 7, 11, 13, 17, 19, 23, 29, 31}
38 {2, 3, 5, 37, 7, 11, 13, 17, 19, 23, 29, 31}
39 {2, 3, 5, 37, 7, 11, 13, 17, 19, 23, 29, 31}
40 {2, 3, 5, 37, 7, 11, 13, 17, 19, 23, 29, 31}
41 {2, 3, 5, 37, 7, 41, 11, 13, 17, 19, 23, 29, 31}
42 {2, 3, 5, 37, 7, 41, 11, 13, 17, 19, 23, 29, 31}
43 {2, 3, 5, 37, 7, 41, 11, 43, 13, 17, 19, 23, 29, 31}
44 {2, 3, 5, 37, 7, 41, 11, 43, 13, 17, 19, 23, 29, 31}
45 {2, 3, 5, 37, 7, 41, 11, 43, 13, 17, 19, 23, 29, 31}
46 {2, 3, 5, 37, 7, 41, 11, 43, 13, 17, 19, 23, 29, 31}
47 {2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}
48 {2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}
49 {2, 3, 5, 37, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}

In [60]:
cities = ["Paris", "Berlin", "Hamburg", 
          "Frankfurt", "London", "Vienna", 
          "Amsterdam", "Den Haag"]
for location in cities:
    print("location: " + location)

location: Paris
location: Berlin
location: Hamburg
location: Frankfurt
location: London
location: Vienna
location: Amsterdam
location: Den Haag

In [61]:
def city_generator():
    yield("Hamburg")
    yield("Konstanz")
    yield("Berlin")
    yield("Zurich")
    yield("Schaffhausen")
    yield("Stuttgart")

In [62]:
cities = city_generator()
next(cities)

'Hamburg'

In [63]:
next(cities)

'Konstanz'

In [64]:
for city in cities:
  print(city)

Berlin
Zurich
Schaffhausen
Stuttgart

In [67]:
def count(firstval=0, step=1):
    x = firstval
    while True:
        yield x
        x += step

In [68]:
counter = count() # count will start with 0
for i in range(10):
    print(next(counter), end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [69]:
next(counter)

10

In [70]:
def fibonacci(n):
    """ A generator for creating the Fibonacci numbers """
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(5)
for x in f:
    print(x, " ", end="") # 
print()

0  1  1  2  3  5

In [72]:
f = fibonacci(50)
print('Squared Fibonacci')
for x in f:
    print(x**2, " ", end="") # 
print()

Squared Fibonacci
0  1  1  4  9  25  64  169  441  1156  3025  7921  20736  54289  142129  372100  974169  2550409  6677056  17480761  45765225  119814916  313679521  821223649  2149991424  5628750625  14736260449  38580030724  101003831721  264431464441  692290561600  1812440220361  4745030099481  12422650078084  32522920134769  85146110326225  222915410843904  583600122205489  1527884955772561  4000054745112196  10472279279564025  27416783093579881  71778070001175616  187917426909946969  491974210728665289  1288005205276048900  3372041405099481409  8828119010022395329  23112315624967704576  60508827864880718401  158414167969674450625

In [73]:
print(__name__)

__main__