<a href="https://colab.research.google.com/github/sush2004/Python/blob/main/Lect_week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
##[0,1,2,3,4]
values = [i**2 for i  in range(5)]
print(values)
print(sum(values))

[0, 1, 4, 9, 16]
30

In [ ]:
values = [i**2 for i in range(500000000)]
print(sum(values))

In [ ]:
values = []
for i in range(500000000):
  values.append(i**2)
print(sum(values))

In [ ]:
import numpy as np
print(np.sum(np.arange(100000000001)))

In [6]:
# operate as a O(n) problem
from datetime import datetime
start = datetime.now()
n = 5000000
values = [i**2 for i  in range(n)]
print(sum(values))
finish = datetime.now()
print(finish - start)

41666654166667500000
0:00:01.801988

In [12]:
## [[0,1,2],   <- 3
 #  [3,4,5],   <- 12
  #[6,7,8] ]   <- 21
n = 3
matrix = [[0,1,2], [3,5,5], [6,7,8]]
totalsum = 0
for i in range(n):
    rowsum = 0
    for j in range(n):
        totalsum = totalsum + matrix[i][j]
print(totalsum)  #1
# f(n) = 3 + n * n + 1

37

In [18]:
import pandas as pd
import numpy as np
['s'] = 12
'e' in s

SyntaxError: ignored